.About-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 4rem;
}

.About-text {
    text-align: right;
    color: var(--black, #202020);

    /* H4 - Header 4 - 32pt Inter Semi Bold */

    margin: 0;
    margin-right: 1rem;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.625rem;
    /* 131.25% */
}

.About-header-text {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-left: -5rem;
    color: var(--black, #202020);
    font-family: Hanken Grotesk;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
}

.About-heading-h1 {
    margin-top: 0;
    margin-left: -18rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.About-heading2-h1 {
    margin-left: -10rem;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 4rem;
}


.About-slash {
    display: inline;
}

.About-image-placeholder {
    margin-top: -.5rem;
    margin: 0 auto;
    padding-top: 0;
    width: 80%;
    height: 35rem;
    flex: 5;
    border-radius: 20px;
}

.About-image-placeholder img {
    filter: grayscale(70%);
    width: 100%;
    height: 50rem;
    object-fit: cover;
    border-radius: 20px;
}




@media screen and (max-width: 955px) {

    .About-header-text {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 0%;
    }

    .About-heading-h1 {
        margin-top: 2rem;
        margin-left: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 3.5rem;
    }

    .About-heading2-h1 {
        margin-left: 0;
        margin-top: 0;
        padding-top: 0;
        font-size: 3.5rem;
    }

    .About-slash {
        display: none;
    }

}