.news-content-box {
  display: flex;
  width: 88%;
  margin-bottom: 2rem;
  margin-top: -2rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 20px;
  height: 25rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: ease-in-out transform 0.5s;
}
.insta-box-nl {
  text-decoration: none;
}
.news-content-box:hover {
  transform: scale(1.02);
}

.news-heading {
  color: var(--black, #202020);
  margin-left: 2rem;
  margin-top: 7rem;
  font-family: Hanken Grotesk;
  font-size: 4.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5rem;
  /* 109.091% */
}

.image-place-holder {
  width: 50%;

  border-radius: 20px;
}

.image-place-holder img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.news-text-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.news-line1 {
  color: var(--grey, #636363);
  margin-left: 5rem;
  margin-right: 5rem;
  /* Paragraph - 16pt Inter Regular */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  /* 162.5% */
}

.text-subhead {
  color: var(--black, #202020);
  margin-top: 0.3rem;
  /* H5 - Header 5 - 40pt Inter Semi Bold */
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  /* 125% */
}

.insta-handle {
  width: 33%;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2.3125rem;
  border: 1px solid var(--grey, #636363);
  background: rgba(255, 255, 255, 0);
}

.insta-handle:hover {
  color: rgba(255, 255, 255, 0);
  background: #d9d9d9;
}

.insta-page {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.insta-id {
  color: var(--black, #202020);
  text-decoration: none;
}

@media screen and (max-width: 860px) {
  .news-content-box {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    height: 30rem;
    background: #d9d9d9;
  }

  .newsletter-content-box {
    overflow-x: hidden;
  }

  .news-text-box {
    width: 100%;
  }

  .news-line1 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .text-subhead {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .image-place-holder {
    display: none;
  }

  .insta-handle {
    margin-bottom: 2rem;
  }

  .news-heading {
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 3rem;
    margin-top: 0;
  }
}
